In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data = pd.read_csv('../data/processed_data.csv')
data.head()

,date,wm_yr_wk,weekday,wday,month,year,date_id,CASHBACK_STORE_1,CASHBACK_STORE_2,CASHBACK_STORE_3,item_id,store_id,cnt,sell_price
0,2011-01-29,11101,Saturday,1,1,2011,1,0,0,0,STORE_2_085,STORE_2,3,1.00
1,2011-01-29,11101,Saturday,1,1,2011,1,0,0,0,STORE_2_043,STORE_2,6,2.88
2,2011-01-29,11101,Saturday,1,1,2011,1,0,0,0,STORE_2_054,STORE_2,6,2.28
3,2011-01-29,11101,Saturday,1,1,2011,1,0,0,0,STORE_2_325,STORE_2,0,NaN
4,2011-01-29,11101,Saturday,1,1,2011,1,0,0,0,STORE_2_090,STORE_2,108,1.25